<?xml version='1.0' encoding='UTF-8'?>

<ruleset name='feip-php-project'>
    <description>A custom coding standard</description>

    <arg name='colors' />
    <arg name='extensions' value='php' />
    <arg value='sp' />

    <rule ref='PSR12' />

    <file>.</file>

    <arg name='cache' value='var/cache/phpcs' />

    <exclude-pattern>./cache/*</exclude-pattern>
    <exclude-pattern>./migrations/*</exclude-pattern>
    <exclude-pattern>./public/*</exclude-pattern>
    <exclude-pattern>./bin/*</exclude-pattern>
    <exclude-pattern>./vendor/*</exclude-pattern>
    <exclude-pattern>./var/*</exclude-pattern>
</ruleset>